* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
    overflow-x: hidden;
    background-color: #edf2f7;
}
h2{
  margin-top: 3rem;
  font-size: 40px;
  margin-bottom: 30px;
  color: #00bb92;
  letter-spacing: .3rem;
}
h3{
    position: sticky;
    top: 0;
    z-index: 2;
    text-transform: capitalize;
    background-color: #149e97;
    color: #fff;
    letter-spacing: .1em;
    padding: .5rem;
    margin: 2rem 0;
}
input{
  font-size: 1.2rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(9, 127, 131);
  text-align: center;
}

.card{ 
  z-index: 1;
  padding: .5rem;
  flex-direction: column;
  min-width: 100px;
  max-width: 250px;
  border-radius: 1rem;
  background-color: rgba(117, 115, 115, 0.267);
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.774), 6.7px 6.7px 5.3px rgb(0 0 0 / 5%), 12.5px 12.5px 10px rgb(0 0 0 / 4%), 22.3px 22.3px 17.9px rgb(0 0 0 / 4%), 41.8px 41.8px 33.4px rgb(0 0 0 / 3%), 100px 100px 80px rgb(0 0 0 / 2%);
}
.card, .card-grid{
  display: flex;
  align-items: center;
}
.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  border-radius: 1rem;
  width: 100%; 
}
.card img:hover{
  border-radius: 1rem;
  width: 100%; 
}
.card-grid{
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 2rem;
  gap: 2rem;
  margin-bottom: 7rem;
}